@{
    ViewBag.Title = "Home Page";

    var posters = ViewData["posters"] as List<Realty.Models.Flat>;
    var wishList = ViewData["wishList"] as List<Realty.Models.WishFlatUserPivot>;
    var currencies = ViewData["currencies"] as List<Realty.Models.Currency>;
    var photos = ViewData["photos"] as List<Realty.Models.Photo>;
}

<div class="home">
    <div class="filter-div">
        <form action=@Url.Action("Filter", "Poster")>
            <div class="propos-div">
                <span id="number">@posters.Count</span> предложений
            </div>
            <label htmlfor="priceFrom" id="price-label">
                Цена
            </label>
            <input id="priceFrom"
                   name="PriceFrom"
                   type="text" />
            <input id="PriceTo"
                   name="priceTo"
                   type="text" />
            <select name="Currency">
                @foreach(var currency in currencies)
                {
                    <option value=@currency.CurrencyID>
                        @currency.Name
                    </option>
                }
            </select>
            <label htmlfor="roomFrom" id="room-label">
                Количество комнат (от до)
            </label>
            <input id="RoomFrom"
                   name="RoomFrom"
                   type="text" />
            <input id="roomTo"
                   name="RoomTo"
                   type="text" />
            <div class="submit-div">
                <input type="submit" value="Filter" />
            </div>
        </form>
    </div>
    <div class="poster-div">
        <a class="add-btn-big" href=@Url.Action("Create", "Poster")>
            Розмістити об`яву
        </a>
        @for(int i = 0; i < posters.Count; ++i)
        {
            <div class="poster">
                <div class="img-div">
                    <a href=@Url.Action("Show", "Poster",
                        new { PosterID = posters[i].FlatID })>
                        <img src='@Url.Action("GetImage", "Poster", new { photoID = photos[i].PhotoID })' />
                    </a>
                </div>
                <div class="info-div">
                    <div class="name-div">
                        <div class="name">
                            <a href=@Url.Action("Show", "Poster",
                                    new { PosterID = posters[i].FlatID })>
                                @posters[i].DistrictType @posters[i].District ул. @posters[i].Street
                                @posters[i].House
                            </a>
                        </div>
                        <div>
                            <form action='@Url.Action("AddToList", "WishList",
                                          new { FlatID = posters[i].FlatID })'
                                  method="post">
                                @{
                                    bool isInWish = wishList.FirstOrDefault(w => w.FlatID == posters[i].FlatID) != null;
                                }
                                @if (isInWish)
                                {
                                    <button type="submit" onsubmit="onSubmit" class="star-button">
                                        <i id="star" class="fa fa-star checked"></i>
                                    </button>
                                }
                                else
                                {
                                    <button type="submit" onsubmit="onSubmit" class="star-button">
                                        <i id="star" class="fa fa-star"></i>
                                    </button>
                                }
                            </form>
                        </div>
                    </div>
                    <div class="price">
                        @posters[i].PriceDollar $
                        <span class="second-part">
                            <i class="fas fa-circle"></i>
                            <span class="alt">@posters[i].PriceGrn грн</span>
                        </span>
                    </div>
                    <div class="rooms">
                        @posters[i].RoomCount комнат
                        <span class="second-part">
                            <i class="fas fa-circle"></i>
                            <span class="alt">
                                @posters[i].AreaSize м<sup>2</sup>
                            </span>
                        </span>
                    </div>
                    @if (posters[i].Description.Length >= 40)
                    {
                        <div class="description">
                            @posters[i].Description.Substring(0, 40)...
                        </div>
                    }
                    else
                    {
                        <div class="description">
                            @posters[i].Description;
                        </div>
                    }
                    <div class="date">
                        <i class="far fa-clock"></i>
                        @posters[i].Date.ToString("g")
                    </div>
                </div>
            </div>
        }
    </div>
</div>
