@{
    ViewBag.Title = "Home Page";
    var posters = ViewData["posters"] as List<Realty.Models.Flat>;
    var photoPivots = ViewData["photoPivots"] as List<Realty.Models.PhotoFlatPivot>;
    var wishList = ViewData["wishList"] as List<Realty.Models.WishFlatUserPivot>;
}

<div class="home">
    <div class="filter-div">
        <div class="propos-div">
            <span id="number">@posters.Count</span> предложений
        </div>
    </div>
    <div class="poster-div">
        <a class="add-btn-big" href=@Url.Action("Create", "Poster")>
            Розмістити об`яву
        </a>
        @foreach (var poster in posters)
        {
            <div class="poster">
                <div class="img-div">
                    <a href=@Url.Action("Show", "Poster",
                        new { PosterID = poster.FlatID })>
                        <img src='@Url.Action("GetImage", "Poster", new { flatID = poster.FlatID })' />
                    </a>
                </div>
                <div class="info-div">
                    <div class="name-div">
                        <div class="name">
                            <a href=@Url.Action("Show", "Poster",
                                    new { PosterID = poster.FlatID })>
                                @poster.DistrictType @poster.District ул. @poster.Street
                                @poster.House
                            </a>
                        </div>
                        <div>
                            <form action='@Url.Action("AddToList", "WishList",
                                          new { FlatID = poster.FlatID })'
                                  method="post">
                                @{
                                    bool isInWish = wishList.FirstOrDefault(w => w.FlatID == poster.FlatID) != null;
                                }
                                @if (isInWish)
                                {
                                    <button type="submit" onsubmit="onSubmit" class="star-button">
                                        <i id="star" class="fa fa-star checked"></i>
                                    </button>
                                }
                                else
                                {
                                    <button type="submit" onsubmit="onSubmit" class="star-button">
                                        <i id="star" class="fa fa-star"></i>
                                    </button>
                                }
                            </form>
                        </div>
                    </div>
                    <div class="price">
                        @poster.PriceDollar $
                        <span class="second-part">
                            <i class="fas fa-circle"></i>
                            <span class="alt">@poster.PriceGrn грн</span>
                        </span>
                    </div>
                    <div class="rooms">
                        @poster.RoomCount комнат
                        <span class="second-part">
                            <i class="fas fa-circle"></i>
                            <span class="alt">
                                @poster.AreaSize м<sup>2</sup>
                            </span>
                        </span>
                    </div>
                    @if (poster.Description.Length >= 40)
                    {
                        <div class="description">
                            @poster.Description.Substring(0, 40)...
                        </div>
                    }
                    else
                    {
                        <div class="description">
                            @poster.Description;
                        </div>
                    }
                    <div class="date">
                        <i class="far fa-clock"></i>
                        @poster.Date.ToString("g")
                    </div>
                </div>
            </div>
            <div class="form-btn">
                <div>
                    <a href=@Url.Action("Edit", "Poster", new { FlatID = poster.FlatID })>
                        Edit
                    </a>
                </div>
                <div>
                    <form action='@Url.Action("Delete", "Poster",
                                             new { flatID = poster.FlatID })'
                          method="post">
                        <input type="submit" class="btn-delete" value="Delete">
                    </form>
                </div>
            </div>
        }
    </div>
</div>
